<div class="container d-flex justify-content-center pt-5">
<button class="btn btn-primary" (click)="addCategory()">Add Category</button>
</div>
<div class="container pt-5 col-6">
    <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" class="d-flex justify-content-center">Category</th>
            <th scope="col-3" class="d-flex justify-content-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle" *ngFor="let category of categories">
            <td>{{category.Name}}</td>
            <td class="d-flex justify-content-center p-3"><button class="btn btn-danger" (click)="removeCategory(category)">Remove</button></td>
          </tr>
        </tbody>
      </table>
</div>

