<div>
    <ul class="nav" >
        <li class="nav-item">
            <button class="btn btn-dark mx-2 my-2" (click)="getAllMyPosts()">Latest</button>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
            <button class="btn btn-dark mx-2 my-2" (click)="getMyPosts(category)">{{category.Name}}</button>
        </li>
    </ul>
</div>

<div class="container" *ngFor="let post of posts">
    <div><h2>{{post.Title}}</h2></div>
    <div><small>{{post.Category}}</small></div>
    <div><small>{{post.Date}}</small></div>
    <br>
    <div>{{post.Content}}</div>
    <br><br>
</div>